/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(36, 40, 47) none repeat scroll 0% 0%;
}

.mat-ripple, .mat-tab-label, .mat-tab-link {
  color: rgba(254, 252, 252, 0.87) !important;
}